<?xml version="1.0" encoding="UTF-8"?>
<window>
	<defaultcontrol>9000</defaultcontrol>
	<backgroundcolor>background</backgroundcolor>
	<controls>
		<include>DefaultBackground</include>
		<control type="group">
			<centerleft>50%</centerleft>
			<width>1600</width>
			<top>0</top>
			<bottom>0</bottom>
			<include>OpenClose_Right</include>
			<!-- <control type="label">
				<left>0</left>
				<right>0</right>
				<top>420</top>
				<height>400</height>
				<label>[UPPERCASE]$LOCALIZE[5][/UPPERCASE]</label>
				<textcolor>unfocused_text</textcolor>
				<align>center</align>
				<font>font37</font>
			</control> -->
			<control type="panel" id="9000">
				<left>30</left>
				<width>100%</width>
				<top>180</top>
				<height>100%</height>
				<onup>9000</onup>
				<ondown>9000</ondown>
				<ondown>Control.SetFocus(9001,$INFO[Container(9000).Position],absolute)</ondown>
				<include>SettingsPanel</include>
				<content>
					<item>
						<label>Skin settings</label>
						<onclick>ActivateWindow(skinsettings)</onclick>
						<icon>icons/settings/skin.png</icon>
					</item>
					<item>
						<label>$LOCALIZE[10003]</label>
						<onclick>ActivateWindow(filemanager)</onclick>
						<icon>icons/settings/filemanager.png</icon>
					</item>
					<item>
						<label>$LOCALIZE[24001]</label>
						<onclick>ActivateWindow(addonbrowser)</onclick>
						<icon>icons/settings/addons.png</icon>
					</item>
					<item>
						<label>$LOCALIZE[138]</label>
						<onclick>ActivateWindow(systeminfo)</onclick>
						<icon>icons/settings/sysinfo.png</icon>
					</item>
					<item>
						<label>$LOCALIZE[14200]</label>
						<onclick>ActivateWindow(PlayerSettings)</onclick>
						<icon>icons/settings/player.png</icon>
					</item>
					<item>
						<label>$LOCALIZE[14211]</label>
						<onclick>ActivateWindow(MediaSettings)</onclick>
						<icon>icons/settings/media.png</icon>
					</item>
					<item>
						<label>$LOCALIZE[14204]</label>
						<onclick>ActivateWindow(PVRSettings)</onclick>
						<icon>icons/settings/livetv.png</icon>
					</item>
					<item>
						<label>$LOCALIZE[14036]</label>
						<onclick>ActivateWindow(ServiceSettings)</onclick>
						<icon>icons/settings/network.png</icon>
					</item>
					<item>
						<label>$LOCALIZE[15016]</label>
						<visible>System.GetBool(gamesgeneral.enable)</visible>
						<onclick>ActivateWindow(GameSettings)</onclick>
						<icon>icons/settings/games.png</icon>
					</item>
					<item>
						<label>$LOCALIZE[14206]</label>
						<onclick>ActivateWindow(InterfaceSettings)</onclick>
						<icon>icons/settings/interface.png</icon>
					</item>
					<item>
						<label>$LOCALIZE[13200]</label>
						<onclick>ActivateWindow(Profiles)</onclick>
						<icon>icons/settings/profiles.png</icon>
					</item>
					<item>
						<label>$LOCALIZE[13000]</label>
						<onclick>ActivateWindow(SystemSettings)</onclick>
						<icon>icons/settings/system.png</icon>
					</item>
					<item>
						<label>LibreELEC</label>
						<onclick>RunAddon(service.libreelec.settings)</onclick>
						<icon>icons/settings/libreelec.png</icon>
						<visible>System.AddonIsEnabled(service.libreelec.settings)</visible>
					</item>
				</content>
			</control>
			<!-- <control type="panel" id="9001">
				<left>30</left>
				<right>0</right>
				<top>470</top>
				<bottom>0</bottom>
				<onup>Control.SetFocus(9000,$INFO[Container(9001).Position],absolute)</onup>
				<ondown>noop</ondown>
				<include>SettingsPanel</include>
				<content>
					<item>
						<label>$LOCALIZE[14200]</label>
						<onclick>ActivateWindow(PlayerSettings)</onclick>
						<icon>icons/settings/player.png</icon>
					</item>
					<item>
						<label>$LOCALIZE[14211]</label>
						<onclick>ActivateWindow(MediaSettings)</onclick>
						<icon>icons/settings/media.png</icon>
					</item>
					<item>
						<label>$LOCALIZE[14204]</label>
						<onclick>ActivateWindow(PVRSettings)</onclick>
						<icon>icons/settings/livetv.png</icon>
					</item>
					<item>
						<label>$LOCALIZE[14036]</label>
						<onclick>ActivateWindow(ServiceSettings)</onclick>
						<icon>icons/settings/network.png</icon>
					</item>
					<item>
						<label>$LOCALIZE[15016]</label>
						<visible>System.GetBool(gamesgeneral.enable)</visible>
						<onclick>ActivateWindow(GameSettings)</onclick>
						<icon>icons/settings/games.png</icon>
					</item>
					<item>
						<label>$LOCALIZE[14206]</label>
						<onclick>ActivateWindow(InterfaceSettings)</onclick>
						<icon>icons/settings/interface.png</icon>
					</item>
					<item>
						<label>$LOCALIZE[13200]</label>
						<onclick>ActivateWindow(Profiles)</onclick>
						<icon>icons/settings/profiles.png</icon>
					</item>
					<item>
						<label>$LOCALIZE[13000]</label>
						<onclick>ActivateWindow(SystemSettings)</onclick>
						<icon>icons/settings/system.png</icon>
					</item>
					<item>
						<label>LibreELEC</label>
						<onclick>RunAddon(service.libreelec.settings)</onclick>
						<icon>icons/settings/libreelec.png</icon>
						<visible>System.AddonIsEnabled(service.libreelec.settings)</visible>
					</item>
				</content>
			</control> -->
		</control>
		<include content="TopBar">
			<param name="breadcrumbs_label" value="$LOCALIZE[13000]" />
		</include>
		<!-- <include>BottomBar</include> -->
	</controls>
</window>
